<!DOCTYPE html>
{{ template "header" . }}

    <link rel="stylesheet" href="/templates/lib/editormd/style.css"/>
    <link rel="stylesheet" href="/templates/lib/editormd/editormd.css"/>

{{ template "middle" . }}

<div id="layout">
    <form method="post">
        <div id="editormd">
            <textarea id="text" style="display:none;">{{.content}}</textarea>
        </div>
        <div style="width:90%;margin: 10px auto;">
            <input type="submit" name="submit" value="Save" style="padding: 5px;" />
        </div>
    </form>
</div>
<script src="/templates/js/JQuery.js"></script>
<script src="/templates/lib/editormd/editormd.js"></script>
<script type="text/javascript">
    let Editor;

    $(function () {
        Editor = editormd("editormd", {
            width: "90%",
            height: 720,
            path: '/templates/lib/editormd/lib/',
            saveHTMLToTextarea : true,
            onchange: function () {
                $("#output").html("onchange : this.id =>" + this.id + ", markdown =>" + this.getValue());
            }
        });
    });
</script>

{{ template "footer" . }}
